* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Helvetica;
}
body {
  background-color: black;
}

h1 {
  flex-wrap: wrap;
  margin: 20px 0;
  text-align: center;
  color: aliceblue;
}
h4 {
  padding: 2px 6px;
  color: rgb(247, 255, 12);
  margin-top: 10px;
}
h4:hover {
  cursor: pointer;
  transition: 0.5s;
  color: rgb(52, 245, 242);
}
a:hover {
  color: rgb(52, 245, 242);
}
ul {
  list-style: none;
}
.oculto {
  overflow: hidden;
  max-height: 0px;
}
.visivel {
  max-height: 2000px;
  padding-left: 40px;
}
.ativo {
  color: rgb(52, 245, 242);
}

span {
  color: hsl(284, 100%, 81%);
}
p a {
  color: coral;
}
.main {
  max-width: 900px;
  margin: 10px auto;
  background-color: rgb(103, 103, 103);
  padding: 10px;
}
