* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
}

h1 {
  flex-wrap: wrap;
  margin: 20px 0;
  text-align: center;
  color: aliceblue;
}
h4 {
  color: rgb(247, 255, 12);
  margin-top: 10px;
}
p,
pre {
  text-indent: 40px;
}
span {
  color: hsl(284, 100%, 81%);
}
p a {
  color: coral;
}
.main {
  max-width: 900px;
  margin: 10px auto;
  background-color: rgb(103, 103, 103);
  padding: 10px;
}
